.DS_Store
.RData
.Rhistory
.Rproj.user/
..Rcheck/
marginSVM.Rcheck/
marginSVM_*.tar.gz
site/
tmp/
src/*.o
src/*.so
src/*.dll
src/*.dylib

output/*
!output/pdf/
output/pdf/*
!output/pdf/marginsvm-manuscript.pdf
